mixin socItem(name, link, type)
    li(class="footer__social-item " +name)
        a(href="" +link target="_blank").footer__social-link
            i(class="" +type)


mixin introItem(image, title, description, link, name)
    .intro__slide.swiper-slide
        picture.intro__frame
            source(type="image/webp" media="(min-resolution: 384dpi), (-webkit-min-device-pixel-ratio: 3)" srcset="static/images/content/" +image +"@3x.webp 3x" sizes="100vw")
            source(type="image/webp" media="(min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2)" srcset="static/images/content/" +image +"@2x.webp 2x" sizes="100vw")
            source(type="image/webp" srcset="static/images/content/" +image +"@1x.webp" sizes="100vw")
            source(media="(min-resolution: 384dpi), (-webkit-min-device-pixel-ratio: 3)" srcset="static/images/content/" +image +"@3x.jpg 3x" sizes="100vw")
            source(media="(min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2)" srcset="static/images/content/" +image +"@2x.jpg 2x" sizes="100vw")
            img(itemprop="image" src="static/images/content/" +image +"@1x.jpg" sizes="100vw").intro__frame-image
        .intro__details
            a(href="" +link target="_self").intro__link
                h1.intro__title=title
            p.intro__description=description
            a(href="" +link target="_self").intro__btn=name

mixin feedItem(image, description, link, views, datetime, date)
    li.feed__item
        a(href="" +link target="_self").feed__link
            picture.feed__frame
                source(type="image/webp" media="(min-resolution: 384dpi), (-webkit-min-device-pixel-ratio: 3)" srcset="static/images/content/" +image +"@3x.webp 3x" sizes="100vw")
                source(type="image/webp" media="(min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2)" srcset="static/images/content/" +image +"@2x.webp 2x" sizes="100vw")
                source(type="image/webp" srcset="static/images/content/" +image +"@1x.webp" sizes="100vw")
                source(media="(min-resolution: 384dpi), (-webkit-min-device-pixel-ratio: 3)" srcset="static/images/content/" +image +"@3x.jpg 3x" sizes="100vw")
                source(media="(min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2)" srcset="static/images/content/" +image +"@2x.jpg 2x" sizes="100vw")
                img(itemprop="image" src="static/images/content/" +image +"@1x.jpg" sizes="100vw").feed__frame-image
            .feed__info
                span.feed__info-views=views
                time(datetime="" +datetime).feed__info-date=date
            p.feed__description=description
                
mixin liveItem(image, link, datetime, time, title, description)
    li.live__item.swiper-slide
        a(href="" +link target="_self").live__link
            picture.live__frame
                source(type="image/webp" media="(min-resolution: 384dpi), (-webkit-min-device-pixel-ratio: 3)" srcset="static/images/content/" +image +"@3x.webp 3x" sizes="100vw")
                source(type="image/webp" media="(min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2)" srcset="static/images/content/" +image +"@2x.webp 2x" sizes="100vw")
                source(type="image/webp" srcset="static/images/content/" +image +"@1x.webp" sizes="100vw")
                source(media="(min-resolution: 384dpi), (-webkit-min-device-pixel-ratio: 3)" srcset="static/images/content/" +image +"@3x.jpg 3x" sizes="100vw")
                source(media="(min-resolution: 192dpi), (-webkit-min-device-pixel-ratio: 2)" srcset="static/images/content/" +image +"@2x.jpg 2x" sizes="100vw")
                img(itemprop="image" src="static/images/content/" +image +"@1x.jpg" sizes="100vw").live__frame-image
            time(datetime="" +datetime).live__time=time
            h3.live__name=title
            span.live__details=description
